<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>O jewa ke eng?</h1>
            <br>
            <% if(!currentUser){ %>
                <p>
                    <a class="btn btn-primary btn-large" href="/blog/new">Join the movement</a>
                </p>
            <% } else { %>
                <p>
                    <a class="btn btn-primary btn-large" href="/blog/new">Make a post</a>
                </p>
            <% } %>
        </div>
    </header>

    <div class="bloder-content">
    <% blogs.forEach(function(blog){ %>						
        <div class="bloger-grid">						
            <div class="blog-img">
                <img src="/<%= blog.image %>" class="img">
            </div>
            <div class="bloger-content">
                <h5><a href="/blog/<%= blog._id %>"><%=blog.title%></a></h5>
                <p><%- blog.content.substring(0,200) %>...</p>
                <ul>
                    <li><%= blog.created.toDateString() %></li>
                    <li><a href="/blog/<%= blog._id %>"><span>read more</span></a></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    <% }) %> 
    <div class="clear"> </div>
			<!-- End-content-gallery-->
			<!-- DC Pagination:C9 Start -->
			<div class="wrap">
	<!-- DC Pagination:A3 Start -->
						<ul class="dc_pagination dc_paginationA dc_paginationA03">
						  <li><a href="#" class="first">First</a></li>
						  <li><a href="#" class="previous">Previous</a></li>
						  <li><a href="#">1</a></li>
						  <li><a href="#">2</a></li>
						  <li><a href="#" class="current">3</a></li>
						  <li><a href="#">4</a></li>
						  <li><a href="#">5</a></li>
						  <li><a href="#" class="next">Next</a></li>
						  <li><a href="#" class="last">Last</a></li>
						</ul>
							<!-- DC Pagination:A3 End -->
	    		<div class="clear"> </div>
	<!-- DC Pagination:C9 End -->
		</div>
    </div>

<% include ../partials/footer %>
